/*UNIVERSAL*/
*{
margin:0;
padding:0;
}

html{
color:#212529;

font-family: system-ui;
font-weight:400;
font-size:14px;
}

body{
background-color: white;
background-attachment:fixed;
}

a{
text-decoration: none;
color: #212529;
}

main{
width:60%;
margin: 0 auto;
padding: 20px 0;
-webkit-font-smoothing: antialiased;
}

nav{
position:static;
height: 60px;
background-color: #F4F6F6;
}

nav p{
font-size:24px;
line-height: 55px;
float:left;
padding:0px 20px;
}

nav p a{
text-decoration: none;
}

nav ul{
float:left;
}

nav ul li{
float:left;
list-style: none;
position:relative;
}

nav ul li a{
display:block;
font-size:16px;
padding: 20px 15px;
}

nav ul li a:hover{
color: #10BBE7;
}

nav ul li ul{
display:none;
position:absolute;
background-color:#F4F6F6;
padding:10px;
border-radius:0px 0px 4px 4px;
}

nav ul li:hover ul{
display:block;
}

nav ul li ul li{
width:180px;
border-radius:4px;
}

nav ul li ul li a{
padding:8px 14px
}

main table tr td a img{
border: 0;
vertical-align: middle;
width:50px;
height:50px;
border: 2px solid white;
float: right;
}

main table tr td a img:hover{
opacity: 0.5;
}

footer{
display: block;
text-align: center;
bottom: 0;
width: 100%;
font-weight:400;
}

.current{
color:#1399BB;
}

/*blog css*/
* {
    box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 70%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 30%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
     background-color: white;
     padding: 20px 0px;
     /*margin-top: 10px;*/
     color: #444;
  }

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  